:where([data-mantine-color-scheme="dark"]),
:where([data-mantine-color-scheme="light"]) {
    /** Select hover override **/
    .mantine-Select-options .mantine-Select-option:hover {
        background-color: var(--mantine-color-white);
        color: var(--mantine-color-black);
    }
    
    
    /** Segmented control override **/
    div.mantine-SegmentedControl-root {
        border: 1px solid var(--mantine-color-white);
    }

    label.mantine-SegmentedControl-label,
    label.mantine-SegmentedControl-label:hover {
        color: var(--mantine-color-white);
        font-size: var(--mantine-font-size-sm);
        padding: .1rem 1rem; 
    }

    label.mantine-SegmentedControl-label:where([data-active]),
    label.mantine-SegmentedControl-label:where([data-active]):hover {
        color: var(--mantine-color-black);
    }
}

/** Use AppShell root class to override layout.css, which always gets called later. **/
.mantine-AppShell-root code {
    color: var(--mantine-color-black);
}

.mantine-AppShell-root .mantine-Pagination-control {
    background-color: var(--mantine-color-black);
    color: var(--mantine-color-white);
    border-color: var(--mantine-color-white);
}

.mantine-AppShell-root .mantine-Pagination-control[data-active="true"],
.mantine-AppShell-root .mantine-Pagination-control:hover {
    background-color: var(--mantine-color-white);
    color: var(--mantine-color-black);   
}

.mantine-AppShell-root .mantine-SegmentedControl-root {
    background-color: var(--mantine-color-black);
    color: var(--mantine-color-white);   
    border: 1px solid  var(--mantine-color-white);   
}

.mantine-AppShell-root .mantine-SegmentedControl-root .mantine-SegmentedControl-indicator {
    background-color: var(--mantine-color-white);
    color: var(--mantine-color-black);   
}

.mantine-AppShell-root .mantine-SegmentedControl-root .mantine-SegmentedControl-label {
    color: var(--mantine-color-white);   
}

.mantine-AppShell-root .mantine-SegmentedControl-root .mantine-SegmentedControl-label[data-active="true"] {
    color: var(--mantine-color-black);   
}

.mantine-BackgroundImage-root {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    filter: grayscale(100%) opacity(10%);
    z-index: -1;
}

.mantine-AppShell-root .mantine-Card-root {
    background-color: var(--mantine-color-black);
    color: var(--mantine-color-white);
    border: 1px solid;
}

.mantine-AppShell-root .mantine-Avatar-image {
    object-fit: contain;
}
